@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  background-color: white;
  color: black; /*#1da1f2;*/
  font-family: 'Source Sans Pro', sans-serif;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: black;
  height: 1px;
}

h1 {
  display: flex;
  align-self: center;
}

p {
  text-indent: 20px;
  font-weight: bold;
}
